<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A job hours tracker" />
    <meta
      name="keywords"
      content="tracker, trackgenix, gigatech, software, software solutions, enterprise solutions"
    />
    <link rel="stylesheet" type="text/css" href="../css/reset.css" />
    <link
      rel="stylesheet"
      href="../assets/font-awesome/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/header.css" />
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
    <link rel="stylesheet" type="text/css" href="../css/footer.css" />
    <link rel="stylesheet" type="text/css" href="../css/sidebar.css" />
    <link rel="stylesheet" type="text/css" href="../css/employee-signup.css" />
    <script src="../javascript/employee-signup.js"></script>
    <title>
      Trackgenix - Hours Tracker
    </title>
  </head>
  <body>
    <aside>
      <div class="aside-container">
        <div>
          <p class="aside-title">
            Menu
          </p>
          <nav>
            <ul>
              <li>
                <a href="./index.html">Home</a>
              </li>
              <li>
                <a href="./employee-signup.html">Sign Up</a>
              </li>
              <li>
                <a href="./login.html">Log In</a>
              </li>
            </ul>
          </nav>
        </div>
        <div id="aside-contact">
          <p class="aside-title">
            Get In Touch
          </p>
          <p>
            Explanation here of the correspondent component. We left this with a
            random text for the moment. This is just an example. Don't take this
            text seriously. Explanation here of the correspondent component. We
            left this with a random text for the moment. This is just an
            example. Don't take this text seriously.
          </p>
          <div id="aside-contact-info">
            <div>
              <a href="mailto:#">
                <i class="fa fa-envelope"></i>
                infotrackgenix@something.idk
              </a>
            </div>
            <div>
              <i class="fa fa-home"></i>
              <div>
                <p>
                  1234 Somewhere Road #8254
                </p>
                <p>
                  Nashville, TN 00000-0000
                </p>
              </div>
            </div>
            <div>
              <a href="tel:+00">
                <i class="fa fa-phone"></i>
                (000) 000-0000
              </a>
            </div>
          </div>
        </div>
      </div>
    </aside>
    <div id="main-container">
      <header>
        <div class="sticky-menu">
          <a href="#">
            <i class="fa fa-bars"></i>
          </a>
        </div>
        <div class="social-media-icons">
          <a href="https://facebook.com/">
            <i class="fa fa-facebook-square"></i>
          </a>
          <a href="https://instagram.com/">
            <i class="fa fa-instagram"></i>
          </a>
          <a href="https://twitter.com/">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="https://gihub.com/">
            <i class="fa fa-github"></i>
          </a>
          <a href="https://linkedin.com/">
            <i class="fa fa-linkedin-square"></i>
          </a>
        </div>
        <div>
          <span class="text-bold">
            Trackgenix
          </span>
          by GigaTech Software Solutions SA
        </div>
      </header>
      <main>
        <section id="employee-signup">
          <h1>Sign Up</h1>
          <p>All fields are required.</p>
          <form>
            <fieldset>
              <label for="first-name">First name</label>
              <input type="text" name="first-name" id="first-name" />
            </fieldset>
            <fieldset>
              <label for="last-name">Last name</label>
              <input type="text" name="last-name" id="last-name" />
            </fieldset>
            <fieldset>
              <label for="dni">DNI</label>
              <input type="text" name="dni" id="dni" />
            </fieldset>
            <fieldset>
              <label for="date">Birthdate</label>
              <input type="date" name="date" id="date" />
            </fieldset>
            <fieldset>
              <label for="phone">Phone</label>
              <input type="text" name="phone" id="phone" />
            </fieldset>
            <fieldset>
              <label for="address">Address</label>
              <input type="text" name="address" id="address" />
            </fieldset>
            <fieldset>
              <label for="location">Location</label>
              <input type="text" name="location" id="location" />
            </fieldset>
            <fieldset>
              <label for="postal">Postal code</label>
              <input type="text" name="postal" id="postal" />
            </fieldset>
            <fieldset>
              <label for="email">Email</label>
              <input type="text" name="email" id="email" />
            </fieldset>
            <fieldset>
              <label for="pass">Password</label>
              <input type="password" name="pass" id="pass" />
            </fieldset>
            <fieldset>
              <label for="pass-repeat">Repeat password</label>
              <input type="password" name="pass-repeat" id="pass-repeat" />
            </fieldset>
            <div class="form-actions">
              <ul>
                <li><a href="./login.html">Already have account? Login</a></li>
                <li><a href="./index.html">Back to Home</a></li>
              </ul>
              <input
                type="button"
                value="Create"
                class="btn-create"
                id="btn-create"
              />
            </div>
          </form>
        </section>
      </main>
      <footer>
        <div>
          <h3>
            Our products:
          </h3>
          <ol>
            <li>
              <a href="#">Features</a>
            </li>
            <li>
              <a href="#">Downloads</a>
            </li>
            <li>
              <a href="#">Integrations</a>
            </li>
            <li>
              <a href="#">Add-ons</a>
            </li>
          </ol>
        </div>
        <div>
          <h3>
            Business:
          </h3>
          <ol>
            <li>
              <a href="#">About Us</a>
            </li>
            <li>
              <a href="#">Clients</a>
            </li>
            <li>
              <a href="#">Resources</a>
            </li>
            <li>
              <a href="#">Blog</a>
            </li>
          </ol>
        </div>
        <div>
          <h3>
            Support:
          </h3>
          <ol>
            <li>
              <a href="#">Help</a>
            </li>
            <li>
              <a href="#">Tutorial</a>
            </li>
            <li>
              <a href="#">API</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
          </ol>
        </div>
        <div id="footer-icons" class="social-media-icons">
          <a href="https://facebook.com/">
            <i class="fa fa-facebook-square"></i>
          </a>
          <a href="https://linkedin.com/">
            <i class="fa fa-linkedin-square"></i>
          </a>
          <a href="https://twitter.com/">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="https://gihub.com/">
            <i class="fa fa-github"></i>
          </a>
          <a href="https://instagram.com/">
            <i class="fa fa-instagram"></i>
          </a>
        </div>
        <p>
          Copyright &copy; GigaTech Software Solutions SA. All rights reserved.
        </p>
      </footer>
    </div>
  </body>
</html>
