main {
    display: flex;
    flex-wrap: wrap;
}

#main-container {
    width: 90%;
    margin: auto;
}

/* Main title */
#main-title {
    display: flex;
    flex-direction: column-reverse;
    border-bottom: 2px solid #37386770;
}

#main-title div {
    width: 100%;
}

#main-title > span {
    display: block;
    flex: 0 0 auto;
    max-height: 375px;
    width: 100%;
    margin-bottom: 20px;
}

#main-title img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.subheader {
    margin: 20px 0px;
    font-size: 18px;
}

#main-title p + p {
    font-weight: 600;
}

/* Why you should use me */
section#reasons > div {
    display: flex;
    flex-wrap: wrap;
}

section#reasons article {
    display: flex;
}

section#reasons img {
    width: 132px;
    margin-right: 20px;
}

/* Features */
section#features div {
    display: flex;
    flex-wrap: wrap;
}

section#features h2 {
    margin-bottom: 10px;
}

section#features article {
    flex-wrap: wrap;
    width: 45%;
    margin: 10px 5px;
}

section#features article:nth-child(even) {
    padding-left: 20px;
    border-left: #37386730 1px solid;
}

section#features article span {
    display: block;
}

section#features article img {
    width: 100%;
}

section#features h3 {
    width: 100%;
    margin: 25px 0px;
}

/* Get some info */
section#contact-form form {
    display: flex;
    flex-direction: column;
}

#form-name-email {
    flex: auto;
}

#contact-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

#contact-area label {
    display: block;
}

#contact-area label, #contact-area input {
    flex: auto;
    margin: 5px 0px;
}

#contact-area p {
    width: 100%;
    margin-bottom: 8px;
}

#contact-area div.input-radio {
    display: flex;
}

#contact-area input {
    width: auto;
    margin: 0px 5px;
}

.button-form {
    width: 70px;
    margin-left: 10px;
    margin-bottom: initial;
    background-color: #FF3E1D99;
    border: 1px solid #373867;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    color: #373867;
}

.button-form:hover {
    background-color: #FF3E1D;
}

.btn-send {
    width: 110px;
    background-color: #AACE9B;
}

.btn-send:hover {
    background-color: #4EB125;
}

/* Our history */
section#our-history {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 45px;
}

section#our-history div {
    flex: auto;
    margin-top: 10px;
}

section#our-history span.wrap-img {
    margin: 0px 5px 5px 5px;
    float: left;
}

section#our-history p + p span.wrap-img {
    margin: 5px 0px 5px 5px;
    float: right;
}

section#our-history img {
    width: 100%;
}