main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#main-container {
    width: 90%;
    margin: auto;
}

#main-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 2px solid #37386770;
    text-align: center;
}

#main-title div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

#main-title img {
    flex: auto;
}

.subheader {
    margin: 20px 0px;
    font-size: 20px;
}

#main-title p + p {
    margin-bottom: 29px;
    font-weight: 600;
}

.button {
    order: 1;
    margin-top: 20px;
    flex: auto;
    padding: 8px 30px;
    background-color: #fff;
    border: 2px solid #FF3E1D;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FF3E1D;
}

.button:hover {
    background-color: #FF3E1D;
    color: #373867;
}

.margin-right-x7 {
    margin-right: 70%;
}

#reasons img {
    display: inline-block;
    width: 132px;
}

#reasons div {
    /* display: inline-block; */
    box-sizing: border-box;
    width: 71%;
    padding-left: 20px;
    vertical-align: top;
}

#features img {
    width: 474px;
}

#features h3, #features button, #our-history h3 {
    margin: 25px 0px;
}

#form-name-email {
    display: inline-block;
    width: 59%;
}

#contact-area {
    display: inline-block;
    width: 39%;
    vertical-align: top;
}

#contact-area label, #contact-area input {
    display: inline-block;
    margin: 5px 0px;
    width: initial;
}

#contact-area p {
    margin-bottom: 8px;
}

.input-radio {
    display: block;
}

.button-form {
    display: inline-block;
    width: 70px;
    margin-right: 10px;
    margin-bottom: initial;
    background-color: #FF3E1D99;
    border: 1px solid #373867;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    color: #373867;
}

.button-form:hover {
    background-color: #FF3E1D;
}

.btn-send {
    width: 110px;
    background-color: #AACE9B;
}

.btn-send:hover {
    background-color: #4EB125;
}

#our-history {
    padding-bottom: 45px;
    min-height: 535px;
}

#our-history div > img {
    margin: 0px 10px 20px 0px;
    width: 330px;
    float: left;
}

#our-history p + img {
    margin-bottom: 10px;
    width: 380px;
    float: right;
}

#our-history p {
    margin-bottom: 10px;
}

#our-history > div {
    width: 80%;
}

#our-history div + div {
    width: 95%;
}