body {
    font-family: 'Roboto', 'Arial', sans-serif;
    color: #373867;
}

aside {
    display: none;
    position: fixed;
    width: 17%;
    height: 100%;
    padding: 30px;
    background-color: #AACE9B;
}

nav {
    padding: 65px 0px;
    border-bottom: 1px solid #37386785;
}

nav li {
    padding: 10px 0px;
}

nav li + li {
    border-top: 1px solid #37386769;
}

nav a {
    font-size: 20px;
    text-decoration: none;
    color: #373867;
}

section {
    margin-top: 35px;
    padding-bottom: 30px;
    border-bottom: 2px solid #37386770;
}

h1 {
    font-size: 30px;
    font-weight: bold;
}

h2 {
    display: inline-block;
    border-bottom: 2px solid #FF3E1D;
    font-size: 30px;
    font-weight: bold;
}

h3 {
    margin: 10px 0px;
    font-size: 14px;
    font-weight: bold;
}

article {
    display: flex;
    margin-top: 25px;
    font-size: 14px;
}

form {
    margin-top: 20px;
    font: normal 14px 'Roboto';
}

label {
    display: block;
}

input, textarea {
    width: 96%;
    margin: 10px 0px;
    padding: 8px;
    border: 1px solid #373867;
    border-radius: 5px;
    font: inherit;
}

textarea {
    margin-bottom: 15px;
}

#aside-contact {
    padding-top: 65px;
}

#aside-contact h2 {
    margin-bottom: 25px;
}

#aside-contact p {
    margin-bottom: 35px;
    font-size: 14px;
    font-weight: 500;
}

#aside-contact-info div {
    padding: 5px 0px;
    vertical-align: middle;
}

#aside-contact-info div + div {
    border-top: 1px solid #37386770;
}

#aside-contact-info div > div {
    display: inline-block;
    width: 190px;
}

#aside-contact-info a {
    text-decoration: none;
    font-size: 14px;
    color: #373867;
}

#aside-contact-info p {
    display: inline;
    font-weight: normal;
}

#aside-contact-info i {
    display: inline;
    margin: 0px 10px;
    font-size: 20px;
}

/* Global classes */
.text-bold {
    font-weight: bold;
}

.social-media-icons {
    font-size: 29px;
}

.social-media-icons a {
    text-decoration: none;
    color: #5D5D5D;
}

.social-media-icons a:hover {
    color: #FF3E1D;
}

.button {
    margin-top: 20px;
    flex: auto;
    padding: 8px 30px;
    background-color: #fff;
    border: 2px solid #FF3E1D;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FF3E1D;
}

.button:hover {
    background-color: #FF3E1D;
    color: #373867;
}