body {
    font-family: Roboto;
    color: #373867;
}

aside {
    display: inline-block;
    width: 20%;
}

header {
    margin-top: 30px;
    border-bottom: 2px solid #FF3E1D;
    font-size: 14px;
}

header div {
    display: inline-block;
    width: 86%
}

h1 {
    font-size: 30px;
    font-weight: bold;
}

h1 span {
    display: block;
}

#header-icons {
    display: inline-block;
}

.text-bold {
    font-weight: bold;
}

.social-media-icons {
    font-size: 29px;
}

.social-media-icons a {
    color: #5D5D5D;
    text-decoration: none;
}

#main-container {
    display: inline-block;
    width: 79%;
}

#main-title {
    margin-top: 45px;
    padding-bottom: 55px;
    border-bottom: 2px solid #37386770;
}

#main-title div {
    display: inline-block;
    width: 61%;
    margin-right: 75px;
    vertical-align: top;
}

.subheader {
    font-size: 20px;
    margin: 40px 0px 39px 0px;
}

#main-title p + p {
    margin-bottom: 29px;
    font-weight: 600;
}

.button {
    padding: 10px 35px;
    background-color: #fff;
    border: 2px solid #FF3E1D;
    border-radius: 5px;
    color: #FF3E1D;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.button:hover {
    color: #373867;
    background-color: #FF3E1D;
}